<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
    <!-- <script src="/js/validate-answer.js"></script> -->

    <div th:replace="fragments/navigation :: nav"></div>

    <main class="d-flex flex-column align-items-center gap-3 p-5">

        <h1 th:if="${action} =='add'">Create New Answer</h1>
        <h1 th:if="${action} =='edit'">Edit Answer</h1>

        <form id="edit-answer" method="post" th:object="${answer}" novalidate
            th:class="${isInvalid} ? 'was-validated' : ''" autocomplete="off">

            <div class="form-floating mb-3 w-100">
                <input class="form-control" type="text" th:field="*{answerText}" placeholder="Answer Text" required>
                <div class="invalid-feedback">Enter the answer text</div>
                <label th:for="*{answerText}">Answer Text</label>
            </div>

            <div class="d-flex flex-row gap-3 align-items-center justify-conten-center mb-5">
                <div class="text-danger">Incorrect</div>
                <div class="form-check form-switch w-100">
                    <label class="form-check-label text-success ps-2" for="isCorrect">Correct</label>
                    <input class="form-check-input" type="checkbox" id="isCorrect" name="isCorrect"
                        th:field="*{isCorrect}">
                </div>
            </div>

            <div class="d-flex flex-row align-items-center gap-5">
                <input id="submit-btn" class="btn btn-outline-primary" type="submit" value="Save Answer">
                <a id="cancel-btn" class="btn btn-outline-primary"
                    th:href="@{|/answers?questionId=${answer.questionId}|}">Cancel</a>
            </div>

        </form>

    </main>
</body>

</html>