<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
    <div th:replace="fragments/navigation :: nav"></div>

    <main class="container p-4">

        <h1 th:text="${question.questionText}" class="text-center"></h1>
        <h2 class="text-center mb-3">Answers</h2>

        <div class="text-center mb-3">
            <a th:href="@{|/answers/${question.questionId}/add|}" class="btn btn-outline-primary">Add New Answer</a>
        </div>

        <div class="card mb-2 d-flex flex-row justify-content-between align-items-center gap-3 p-2"
            th:each="answer:${answers}">
            <div th:text="${answer.answerText}"></div>
            <div class="d-flex flex-row gap-3 align-items-center">
                <div th:class="${answer.isCorrect ? 'text-success' : 'text-secondary'}"
                    th:text="${answer.isCorrect ? 'Correct' : ''}">
                </div>
                <a th:href="@{|/answers/${question.questionId}/${answer.answerId}/edit|}"
                    class="ms-3 btn btn-outline-primary">
                    <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit&nbsp;Answer
                </a>
                <a th:href="@{|/answers/${question.questionId}/${answer.answerId}/delete|}"
                    class="btn btn-outline-primary">
                    <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete&nbsp;Answer
                </a>
            </div>
        </div>

    </main>
</body>