<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

    <div th:replace="fragments/navigation :: nav"></div>

    <main class="d-flex flex-column align-items-center gap-3 p-5">

        <h1>Delete Answer</h1>

        <h3>
            <i class="fa fa-exclamation-circle text-danger p-2"></i>
            You are about to delete the following answer
        </h3>

        <div class="card d-flex flex-column gap-3 text-nowrap p-3">
            <table id="delete-answer" class="table mb-1">
                <tr>
                    <th>Question</th>
                    <td class="text-center text-nowrap" th:text="${question.questionText}"></td>
                </tr>

                <tr>
                    <th>Answer Text</th>
                    <td th:text="${answer.answerText}"></td>
                </tr>

                <tr>
                    <th class="pe-3">Correct Answer?</th>
                    <td th:text="${answer.isCorrect ? 'Correct' : 'Incorrect'}"></td>
                </tr>
            </table>

            <form method="post" class="d-flex flex-row justify-content-center gap-5">
                <a id="cancel-btn" class="btn btn-outline-primary"
                    th:href="@{|/answers?questionId=${answer.questionId}|}">Cancel</a>
                <input id="submit-btn" class="btn btn-outline-primary" type="submit" value="Delete Answer">
            </form>

        </div>

    </main>
</body>

</html>