.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

#home-img {
    width: 500px;
}

#edit-quiz,
#edit-question {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#edit-question {
    max-width: 600px;
}

.form-switch {
    padding-left: 140px;
}

@media only screen and (max-width: 540px) {

    #home-img {
        width: 100%;
    }

}