<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

    <div th:replace="fragments/navigation :: nav"></div>

    <div class="container text-center p-5">
        <h1 class="mb-5">Welcome to Trivio</h1>
        <h3 id="sub-header">Create | Take | Archive<h3>
        <h3>Quizzes of your own!</h3>
        <img src="/images/quiz-image.png" alt="home page image - cards, question marks" id="home-img">
    </div>

</body>

</html>