<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>
<main class="d-flex flex-column align-items-center gap-3 p-5">
    <h1>Choose A Quiz</h1>
<div class="container mt-4">
    <div class="card mb-2" th:each="quiz:${quizzes}">
        <a th:href="@{|/quizzes/${quiz.quizId}|}" class="card-header" th:text="${quiz.title}"></a>
    </div>
</div>
</main>
</body>
</html>