<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div class="card mb-2 d-flex justify-content-between" th:each="quiz:${quizzes}">
        <div class="card-header" th:text="${quiz.title}"></div>
        <a th:href="@{|/quizzes/${quiz.quizId}/edit|}" class="btn btn-outline-primary">Edit</a>
    </div>
</div>

</body>
</html>


