<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

    <div th:replace="fragments/navigation :: nav"></div>


    <div class="container mt-4">
        <h1 class="text-center mb-3">Quiz Management</h1>
        <div class="text-center mb-3">
         <a th:href="@{|/quizzes/add|}" class="btn btn-outline-primary">Create New Quiz</a>
        </div>
        <div class="card mb-2 d-flex flex-row justify-content-between align-items-center p-2" th:each="quiz:${quizzes}">
            <div class="quiz-title w-75" th:text="${quiz.title}"></div>
            <div th:class="${quiz.isLive ? 'text-success' : 'text-secondary'}"
                th:text="${quiz.isLive ? 'Active' : 'Inactive'}">
            </div>
            <a th:href="@{|/questions?quizId=${quiz.quizId}|}" class="btn btn-outline-primary">Quiz&nbsp;Questions</a>
            <a th:href="@{|/quizzes/${quiz.quizId}/edit|}" class="btn btn-outline-primary">Edit</a>
        </div>
    </div>

</body>

</html>