<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

    <div th:replace="fragments/navigation :: nav"></div>

    <main class="container p-5">
        <h1 class="text-center mb-3">Quiz Management</h1>

        <div class="text-center mb-3">
            <a th:href="@{|/quizzes/add|}" class="btn btn-outline-primary">Create New Quiz</a>
        </div>

        <div class="card mb-2 d-flex flex-row justify-content-between align-items-center p-2" th:each="quiz:${quizzes}">
            <div th:text="${quiz.title}"></div>
            <div class="d-flex flex-row gap-3 align-items-center">
                <div th:class="${quiz.isLive ? 'text-success' : 'text-secondary'}"
                    th:text="${quiz.isLive ? 'Active' : 'Inactive'}">
                </div>
                <a th:href="@{|/questions?quizId=${quiz.quizId}|}" class="ms-3 btn btn-outline-primary">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;Quiz&nbsp;Questions
                </a>
                <a th:href="@{|/quizzes/${quiz.quizId}/edit|}" class="btn btn-outline-primary">
                    <i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit&nbsp;Quiz
                </a>
            </div>
        </div>
    </main>

</body>

</html>